<!DOCTYPE html>
<html>
<head>
    <title>Crud Application</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'students.png')}}">
</head>

<body>
    <div class="container">
        <div class="well text-center"> <!-- Added 'text-center' class -->
            <div class="row">
                <div class="col-md-12"> <!-- Utilizing the entire width of the column -->
                    <h2 style="font-weight: bold;">Flask Web Application Development</h2>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
